// .left-img {
//     width: 300px;
   
// }

.navbar {
    position: relative;
    z-index: 200;
    &-navigation {
        display: flex;
    }
}

.navbar-navigation-left {
    width: 50vw;
    height: 100vh;
    background-color: $fourth-color;
    position: fixed;
    left: -50vw;
    transition: left .4s cubic-bezier(1, 0, 0, 1);

    @media(max-width: 800px) {
        display: none;
    }

    .left-img {
        width: 50%;
        position: absolute;
        box-shadow: 0 15px 60px rgba($fifth-color, .4);
        opacity: .7;

        @media(max-width: 1300px) {
            width: 55%;
        }
    }

    .left-img-1 {
        top: 15%;
        left: 15%;
    }
    .left-img-2 {
        top: 35%;
        left: 25%;
    }
    .left-img-3 {
        top: 55%;
        left: 35%;
    }
}
.navbar-navigation-right {
    width: 50vw;
    height: 100vh;
    background-color: $fifth-color;
    position: fixed;
    right: -50vw;
    @include flexLayout;
    transition: right .4s cubic-bezier(1, 0, 0, 1);

    @media(max-width: 800px) {
        width: 100vw;
        right: -100vw;
    }

}

.nav-list {
    &-item {
        list-style-type: none;
    }

    &-link {
        font-family: $primary-font;
        font-size: 70px;
        @include textStyles;
        color: $text-color;
        text-decoration: none;
        display: block;
        margin: 20px;
        text-align: center;
        transition: all .5s;

        &:hover {
            color: $border-color;
            letter-spacing: 4px;
        }

        @media(max-width: 600px) {
            font-size: 25px;
        }
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}
.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    border: 1px solid black;
    background-image: url(https://images.unsplash.com/photo-1562483565-984444c3cf8e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=966&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient($gradient-color, .8);

    .brand {
        display: flex;
        align-items: center;
        @include centering(20%);

        @media(max-width: 500px) {
            @include centering(15%);
        }
    }

    .header-banner {
       @include centering(70%);
       text-align: center;
    }
}

.about-us {
    height: 90vh;
    display: flex;
    align-items: center;


    &-left {
        width: 40%;
        position: relative;
        left: -200px;

        @media(max-width: 1300px) {
            left: -100px;
        }

        @media(max-width: 800px) {
            display: none;
        }

        img {
            width: 100%;
            height: 750px;
            // opacity: .7;

            @media(max-width: 1000px) {
                height: 785px;
            }
        }
    }

    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        box-sizing: border-box;

        @media(max-width: 1300px) {
            padding: 0 50px;
        }

        @media(max-width: 800px) {
            width: 100%;
        }
    }

    .description {
        font-family: $secondary-font;
        font-size: 50px;
        color: $text-color;

        &::first-letter {
            padding-left: 50px;
        }

        @media(max-width: 1600px) {
            font-size: 40px;
        }

        @media(max-width: 900px) {
            font-size: 18px;
        }
    }
}

.gallery {
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer {
    padding: 70px 0;
    @include flexLayout;
    flex-direction: column;

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

}